.logo {
	font-weight: bold;
	border: 2px dashed #FFFF;
	border-radius: 7px;
	padding: 0.3rem 0.7rem 0.1rem;
	background-color: #3285de;
	margin: 0;
	text-align: center;

	&:hover {
		cursor: pointer;
		box-shadow: 0px 0px 10px 7px;
		border-color: #3285de;
		color: #fff;
	}

	a {
		color: #fff;

		&:hover {
			text-decoration: none;
		}
	}

	&__img {
		height: 60px;

		img {
			height: 100%;
		}
	}

	&__title {
		padding-top: 3px;
		line-height: 1.5rem;
	}
}
